<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 gallery-container">
                <h2>February 23, 2014 photos</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/images/mocks/photo1.jpg" alt="...">
                            <div class="caption">Alex Kovalev shooting a gun</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/images/mocks/photo3.jpg" alt="...">
                            <div class="caption">Guys shooting a gun</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/images/mocks/photo5.jpg" alt="...">
                            <div class="caption">Contest rules</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/images/mocks/photo4.jpg" alt="...">
                            <div class="caption">Contest rules</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/images/mocks/photo2.jpg" alt="...">
                            <div class="caption">Guys shooting guns</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/images/mocks/photo6.jpg" alt="...">
                            <div class="caption">Contest rules</div>
                        </div>
                    </div>
                </div>
            </div>

            <tiles-sidebar tiles="sidebarTiles"></tiles-sidebar>
        </div>
    </div>
</div>