<!DOCTYPE html>
<html ng-app="itechart-connect">
  <head>
    <title>Itechart.Connect</title>

    <link rel='stylesheet' href='/javascript/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/javascript/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href="/vendor/bootstrap-tag-cloud/bootstrap-tag-cloud.css" />
    <link rel='stylesheet' href='/javascript/bower_components/angular/angular-csp.css' />
    <link rel='stylesheet' href='/javascript/bower_components/font-awesome-bower/css/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />


    <%//importing default libs%>
    <script src="/javascript/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascript/bower_components/angular/angular.min.js"></script>
    <script src="/javascript/bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="/javascript/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="/javascript/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  </head>
  <body>
    <header class="navbar navbar-default">
        <img class="main-logo" src="/images/logo.png"/><span class="connect-text">::connect</span>
    </header>

    <div id="main-content">
        <div class="main-container">
            <div class="topmenu">
                <ul class="nav nav-pills">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="company">Company</a></li>
                    <li ui-sref-active="active"><a ui-sref="department">Department</a></li>
                    <li ui-sref-active="active"><a ui-sref="groups">Groups</a></li>
                    <li ui-sref-active="active"><a ui-sref="newcomers">Newcomers</a></li>
                </ul>
            </div>

            <div class="content" ui-view="main-view"></div>

        </div>
    </div>

    <footer>
    </footer>

    <%//custom scripts section%>

    <%//angular app general scripts%>
    <script src="/javascript/app/app.js"></script>
    <script src="/javascript/app/appConfig.js"></script>

    <%//home page angular scripts%>
    <script src="/javascript/app/companyPage/controllers/companyPageCtrl.js"></script>
    <script src="/javascript/app/departmentsPage/controllers/departmentsPageCtrl.js"></script>
    <script src="/javascript/app/groupsPage/controllers/groupsPageCtrl.js"></script>
    <script src="/javascript/app/groupsPage/service/groupFactory.js"></script>
    <script src="/javascript/app/homePage/controllers/homePageCtrl.js"></script>
    <script src="/javascript/app/newcomersPage/controllers/newcomersPageCtrl.js"></script>
    <script src="/javascript/app/roomsPage/controllers/roomsPageCtrl.js"></script>
    <script src="/javascript/app/peoplePage/controllers/peoplePageCtrl.js"></script>

    <%//generic pages controllers%>
    <script src="/javascript/app/docsPage/controllers/docsPageCtrl.js"></script>
    <script src="/javascript/app/photosPage/controllers/photosPageCtrl.js"></script>
    <script src="/javascript/app/photosPage/controllers/photoGalleriesPageCtrl.js"></script>
    <!--<script src="/javascript/app/eventsPage/controllers/eventsPageCtrl.js"></script>
    <script src="/javascript/app/meetupsPage/controllers/meetupsPageCtrl.js"></script>-->

    <%//directives%>
    <script src="/javascript/app/common/directives/infoBarTile/infoBarTile.js"></script>
    <script src="/javascript/app/common/directives/tilesSidebar/tilesSidebar.js"></script>
    <script src="/javascript/app/common/directives/userInfoTile/userInfoTile.js"></script>
    <script src="/javascript/app/common/directives/userSearch/userSearch.js"></script>
    <script src="/javascript/app/common/directives/feed/feed.js"></script>

    <%//services%>
    <script src="/javascript/app/common/services/common-factory.js"></script>
    <script src="/javascript/app/common/services/feed-factory.js"></script>
    <script src="/javascript/app/common/services/request-factory.js"></script>
  </body>
</html>

