<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <link rel='stylesheet' href='/javascript/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/javascript/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/javascript/bower_components/angular/angular-csp.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />


    <%//importing default libs%>
    <script src="/javascript/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascript/bower_components/angular/angular.min.js"></script>
    <script src="/javascript/bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="/javascript/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="/javascript/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  </head>
  <body>
    <header>
        <img class="main-logo" src="/images/logo.png"/>
    </header>

    <div id="main-content">
        <div class="app-container" ng-app="itechart-connect">
            <div class="topmenu">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Departments</a></li>
                    <li><a href="#">Rooms</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Find People</a></li>
                    <li class="pull-right"><a href="#">Newcomers <span class="badge">HOT!</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
    </footer>

    <%//custom scripts section%>

    <%//angular app general scripts%>
    <script src="/javascript/app/app.js"></script>
    <script src="/javascript/app/appConfig.js"></script>

    <%//home page angular scripts%>
    <script src="/javascript/app/homePage/controllers/homePageCtrl.js"></script>
  </body>
</html>