<!DOCTYPE html>
<html>
<head>
    <title>Itechart.Connect</title>

    <link rel='stylesheet' href='/javascript/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/javascript/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/javascript/bower_components/angular/angular-csp.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
</head>
<body>
<header>
    <img class="main-logo" src="/images/logo.png"/>
</header>

<div id="main-content">
    <form method="post">
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" id="userPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>

</div>

<footer>
</footer>

</body>
</html>