<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 profile-container panel panel-default">
                <div class="row">
                    <div class="col-md-4 profile-image-container">
                        <img src="http://cs10586.vk.me/u22101394/a_12048dd1.jpg"></img>
                    </div>
                    <div class="col-md-8">
                        <h3><a href="#">Nikita Klushnikov (Никита Клюшников)</a></h3>
                        <h4>Software %Rankhere% Engineer, Department 5</h4>
                        Resides in <a href="#" class="profile-room-link">Room 522</a>
                        <hr/>
                        <dl>
                            <dt>Birthdate: </dt>
                            <dd>04.04.2004</dd>
                            <dt>Email: </dt>
                            <dd><i class="fa fa-paper-plane-o"></i> <a href="mailto:nikita.k@gmail.com">nikita.k@gmail.com</a></dd>
                            <dt>Skype: </dt>
                            <dd><i class="fa fa-skype"></i> <a href="skype:nikita.k">nikita.k</a></dd>
                            <dt>Phone: </dt>
                            <dd><i class="fa fa-mobile-phone"></i> +375001112233</dd>
                        </dl>
                    </div>
                </div>
                <hr/>
                <div class="row profile-skills-row">
                    <div class="col-md-8 profile-skills-container">
                        <h5>Skills:</h5>
                        <div class="person-tag-cloud">
                            <a class="tag">ASP.NET MVC</a>
                            <a class="tag">Angular.js</a>
                            <a class="tag">WinAPI</a>
                            <a class="tag">HTML6</a>
                            <a class="tag">CSS4</a>
                            <a class="tag">C++</a>
                            <a class="tag">C#</a>
                            <a class="tag">STL</a>
                            <a class="tag">Project Management</a>
                            <a class="tag">ASP.NET MVC</a>
                            <a class="tag">Angular.js</a>
                            <a class="tag">WinAPI</a>
                            <a class="tag">HTML6</a>
                            <a class="tag">CSS4</a>
                            <a class="tag">C++</a>
                            <a class="tag">C#</a>
                            <a class="tag">STL</a>
                            <a class="tag">Project Management</a>
                        </div>
                    </div>
                    <div class="col-md-4 profile-interests-container">
                        <h5>Interests:</h5>
                        <div class="person-tag-cloud">
                            <a class="tag">Running very fast</a>
                            <a class="tag">Serious business</a>
                            <a class="tag">Walking</a>
                            <a class="tag">Sitting</a>
                            <a class="tag">Running</a>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <a class="github-link" href="http"><i class="fa fa-github"></i> Follow me on GitHub</a>
                    <div class="github-iframe-container">
                        <iframe class="github-iframe" width="600" height="300" allowtransparency="true" frameborder="0" scrolling="no" seamless="seamless"
                            src="http://colmdoyle.github.io/gh-activity/gh-activity.html?user=nightbrownie&type=user">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>