<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 info-container">
                <div class="panel panel-default feed-item">
                    <div class="panel-heading">
                        iTechArt Hackathon'14 workshops: When, Where and About
                    </div>
                    <div class="panel-body">
                        Let's participate in our workshops during iTechArt Hackathon'14.<br/>
                        WHO: your experienced colleagues.<br/>
                        WHY: Best practices, New skills, Interactive, Communication.<br/>
                        Place – Imaguru Club, Fabriciusa, 4<br/>
                    </div>
                    <div class="panel-footer">
                        Jun 13, 2014
                    </div>
                </div>
            </div>

            <div class="col-md-4 sidebar-container">
                <h2>Explore</h2>
                <div class="container-fluid tiles-container">
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile people-tile">
                                <h3><i class="fa fa-child"></i> People</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile docs-tile">
                                <h3><i class="fa fa-files-o"></i> Docs</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile photos-tile">
                                <h3><i class="fa fa-camera-retro"></i> Photos</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile event-tile">
                                <h3><i class="fa fa-glass"></i> Events</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile meetups-tile">
                                <h3><i class="fa fa-calendar"></i> Meetups</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>