<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 info-container">
                <div class="panel panel-default feed-item">
                    <div class="panel-heading">
                        iTechArt Hackathon'14 workshops: When, Where and About
                    </div>
                    <div class="panel-body">
                        Let's participate in our workshops during iTechArt Hackathon'14.<br/>
                        WHO: your experienced colleagues.<br/>
                        WHY: Best practices, New skills, Interactive, Communication.<br/>
                        Place – Imaguru Club, Fabriciusa, 4<br/>
                    </div>
                    <div class="panel-footer">
                        Jun 13, 2014
                    </div>
                </div>
            </div>

            <div class="col-md-4 sidebar-container">
                <h2>Explore</h2>
                <div class="container-fluid tiles-container">
                    <info-bar-tile ng-repeat="tile in sidebarTiles" icon-class="tile.iconClass"
                            title="tile.title"
                            background-img-url="tile.backgroundImgUrl"
                            destination-url="tile.destinationUrl"></info-bar-tile>
                </div>
            </div>
        </div>
    </div>
</div>