<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 info-container">
                <div class="row search-bar-container">
                    <div class="input-append">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter tags here">
                            <span class="btn btn-info search-button input-group-addon">Add <i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <ul class="search-tag-cloud">
                        <li class="tag-cloud">
                            asp.net mvc
                        </li>
                        <li class="tag-cloud">
                            C#
                        </li>
                        <li class="tag-cloud">
                            asp.net mvc
                        </li>
                        <li class="tag-cloud">
                            C#
                        </li>
                        <li class="tag-cloud">
                            asp.net mvc
                        </li>
                        <li class="tag-cloud">
                            C#
                        </li>
                        <li class="tag-cloud">
                            asp.net mvc
                        </li>
                        <li class="tag-cloud">
                            C#
                        </li>
                        <li class="tag-cloud">
                            asp.net mvc
                        </li>

                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail person-container">
                            <div class="caption">
                                <h3><a href="#">Nikita Klushnikov</a></h3>
                                <img src="http://cs10586.vk.me/u22101394/a_12048dd1.jpg"></img>
                                <hr/>
                                Skills:
                                <div class="person-tag-cloud">
                                    <a class="tag">ASP.NET MVC</a>
                                    <a class="tag">Angular.js</a>
                                    <a class="tag">WinAPI</a>
                                    <a class="tag">HTML6</a>
                                    <a class="tag">CSS4</a>
                                    <a class="tag">C++</a>
                                    <a class="tag">C#</a>
                                    <a class="tag">STL</a>
                                    <a class="tag">Project Management</a>
                                    <a class="tag">ASP.NET MVC</a>
                                    <a class="tag">Angular.js</a>
                                    <a class="tag">WinAPI</a>
                                    <a class="tag">HTML6</a>
                                    <a class="tag">CSS4</a>
                                    <a class="tag">C++</a>
                                    <a class="tag">C#</a>
                                    <a class="tag">STL</a>
                                    <a class="tag">Project Management</a>
                                </div>
                                <hr/>
                                Interests:
                                <div class="person-tag-cloud">
                                    <a class="tag">Running very fast</a>
                                    <a class="tag">Serious business</a>
                                    <a class="tag">Walking</a>
                                    <a class="tag">Sitting</a>
                                    <a class="tag">Running</a>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail person-container">
                            <div class="caption">
                                <h3><a href="#">Andrei Sumar</a></h3>
                                <img src="http://cs620629.vk.me/v620629787/33a/uwfwQQ7fb7Y.jpg"></img>
                                <hr/>
                                Skills:
                                <div class="person-tag-cloud">
                                    <a class="tag">Knockout.js</a>
                                    <a class="tag">HTML5</a>
                                    <a class="tag">CSS3</a>
                                    <a class="tag">C++</a>
                                    <a class="tag">C#</a>
                                    <a class="tag">STL</a>
                                    <a class="tag">Boost</a>
                                    <a class="tag">ASP.NET MVC</a>
                                </div>
                                <hr/>
                                Interests:
                                <div class="person-tag-cloud">
                                    <a class="tag">Walking</a>
                                    <a class="tag">Sitting</a>
                                    <a class="tag">Running</a>
                                    <a class="tag">Running very fast</a>
                                    <a class="tag">Serious business</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thumbnail person-container">
                            <div class="caption">
                                <h3><a href="#">Andrei Sumar</a></h3>
                                <img src="http://cs620629.vk.me/v620629787/33a/uwfwQQ7fb7Y.jpg"></img>
                                <hr/>
                                Skills:
                                <div class="person-tag-cloud">
                                    <a class="tag">Knockout.js</a>
                                    <a class="tag">HTML5</a>
                                    <a class="tag">CSS3</a>
                                    <a class="tag">C++</a>
                                    <a class="tag">C#</a>
                                    <a class="tag">STL</a>
                                    <a class="tag">Boost</a>
                                    <a class="tag">ASP.NET MVC</a>
                                </div>
                                <hr/>
                                Interests:
                                <div class="person-tag-cloud">
                                    <a class="tag">Walking</a>
                                    <a class="tag">Sitting</a>
                                    <a class="tag">Running</a>
                                    <a class="tag">Running very fast</a>
                                    <a class="tag">Serious business</a>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail person-container">
                            <div class="caption">
                                <h3><a href="#">Nikita Klushnikov</a></h3>
                                <img src="http://cs10586.vk.me/u22101394/a_12048dd1.jpg"></img>
                                <hr/>
                                Skills:
                                <div class="person-tag-cloud">
                                    <a class="tag">ASP.NET MVC</a>
                                    <a class="tag">Angular.js</a>
                                    <a class="tag">WinAPI</a>
                                    <a class="tag">HTML6</a>
                                    <a class="tag">CSS4</a>
                                    <a class="tag">C++</a>
                                    <a class="tag">C#</a>
                                    <a class="tag">STL</a>
                                    <a class="tag">Project Management</a>
                                    <a class="tag">ASP.NET MVC</a>
                                    <a class="tag">Angular.js</a>
                                    <a class="tag">WinAPI</a>
                                    <a class="tag">HTML6</a>
                                    <a class="tag">CSS4</a>
                                    <a class="tag">C++</a>
                                    <a class="tag">C#</a>
                                    <a class="tag">STL</a>
                                    <a class="tag">Project Management</a>
                                </div>
                                <hr/>
                                Interests:
                                <div class="person-tag-cloud">
                                    <a class="tag">Running very fast</a>
                                    <a class="tag">Serious business</a>
                                    <a class="tag">Walking</a>
                                    <a class="tag">Sitting</a>
                                    <a class="tag">Running</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 sidebar-container">
                <h2>Explore</h2>
                <div class="container-fluid tiles-container">
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile people-tile">
                                <h3><i class="fa fa-child"></i> People</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile docs-tile">
                                <h3><i class="fa fa-files-o"></i> Docs</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile photos-tile">
                                <h3><i class="fa fa-camera-retro"></i> Photos</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile event-tile">
                                <h3><i class="fa fa-glass"></i> Events</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 tile-container">
                        <a href="#">
                            <div class="sidebar-tile meetups-tile">
                                <h3><i class="fa fa-calendar"></i> Meetups</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>